@import url("https://fonts.googleapis.com/css?family=Crete+Round");
@import url("https://fonts.googleapis.com/css?family=Nova+Round");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  padding: 3px 0 3px 0;
  margin: 0px;
}

.App {
  font-family: "Roboto", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  list-style-position: inside;
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

.main-display {
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header-title header-navbar header-login";
  background-color: rgb(236, 0, 141);
}

header a:link,
header a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s;
}

header a:link:hover,
header a:visited:hover {
  color: lightskyblue;
  text-decoration: none;
  -webkit-transition: color 0.3s;
}

header a:link:active,
header a:visited:active {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s;
}

.site-title a:link,
.site-title a:visited,
.site-title a:link:hover,
.site-title a:visited:hover,
.site-title a:link:active,
.site-title a:visited:active {
  color: white;
  text-decoration: none;
}

/* grid-template-areas:
  "topLeft topRight" or "headerBar headerBar"
  "bottomLeft bottomRight" or "sideBar bottomRight" */

.header-title {
  font-family: "Crete Round", serif;
  font-size: 60px;
  justify-content: center;
  grid-area: header-title;
  display: flex;
  justify-content: left;
  align-items: center;
}

.site-title {
  font-family: "Crete Round", serif;
  font-size: 50px;
  display: flex;
}

.title-logo {
  height: 50px;
  display: flex;
}

.header-navbar {
  font-size: 2.5vmin;
  grid-area: header-navbar;
  display: grid;
  /* justify-content: space-evenly;
  align-items: center; */
  grid-template-columns: 50% 50%;
  grid-template-areas: "navbar-articles navbar-topics";
  font-family: "Nova Round", cursive;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbar-link-articles {
  margin: 0 20px 0 20px;
  grid-area: navbar-articles;
}

.navbar-link-topics {
  margin: 0 20px 0 20px;
  grid-area: navbar-topics;
}

.header-login {
  font-size: 2.5vmin;
  grid-area: header-login;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

header a:link,
header a:visited {
  color: white;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
}

header a:link:hover,
header a:visited:hover {
  color: lightskyblue;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
}

header a:link:active,
header a:visited:active {
  color: white;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
}

.header-login-button {
  font-size: 20px;
}

.page-title {
}

.loader {
}

.article-list {
}

.article-card {
  width: 80%;
  border: 2px;
  border-color: rgb(142, 216, 248);
}

.article-card-title {
  background-color: rgb(142, 216, 248);
  padding: 10px;
}

.article-card-author {
}

.article-card-body {
}

.article-card-votes {
}

.article-card-comments {
}

.article-card-date {
}

.more-articles-button {
}

@media only screen and (max-width: 600) {
  .api {
    background-colour: blue;
  }

  /* .App {
    display: flex;
    flex-direction: column;
  }

  .Nav {
    flex-direction: row;
  } */
}

/* a:link,
a:visited {
  color: rgb(58, 58, 58);
  text-decoration: none;
  text-decoration: underline;
}

a:link:hover,
a:visited:hover {
  color: black;
  text-decoration: underline;
}

a:link:active,
a:visited:active {
  color: black;
  text-decoration: underline;
} */

/* * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * {
  background-color: rgba(0, 0, 255, 0.2);
}
* * * * {
  background-color: rgba(255, 0, 255, 0.2);
}
* * * * * {
  background-color: rgba(0, 255, 255, 0.2);
}
* * * * * * {
  background-color: rgba(255, 255, 0, 0.2);
}
* * * * * * * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.2);
} */

/* flex-wrap: wrap 
width: 40vw 40vh*/
